
@{
    ViewBag.Title = "CreateRole";
}
@using (Html.BeginForm("CreateRole", "Role", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    <div class="form-group">
        @Html.Label("Name", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBox("Name", null, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">

        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Add Role" />
            @if (ViewBag.mess != null)
            {@ViewBag.mess}
        </div>
    </div>
}


